
.cuerpoParametroTelas{
    width: 100%;
    min-height: 100vh;
    position: relative;

    overflow-y: auto;
    
}
.titulo{
    font-size: 30px;
    font-weight: bold;;
    display: flex;
}
.titulo p{
    margin:0 10px ;
}
.buscador{
    margin:20px  10px ;
    display: flex;
    align-items: center;
}